openapi: 3.1.0

info:
  title: EZ Recipes
  description: An API that fetches recipes from spoonacular and MongoDB
  version: 3.3.0

servers:
  - url: https://ez-recipes-server.onrender.com
    description: Server deployed on render.com

tags:
  - name: recipes
    description: APIs pertaining to recipes
  - name: terms
    description: APIs pertaining to cooking terms
  - name: chefs
    description: APIs pertaining to chef account information

paths:
  /api/recipes:
    # ~0 == ~, ~1 == /
    $ref: "./docs/recipes.yaml#/paths/~1"
  /api/recipes/random:
    $ref: "./docs/recipes.yaml#/paths/~1random"
  /api/recipes/{id}:
    $ref: "./docs/recipes.yaml#/paths/~1{id}"

  /api/terms:
    $ref: "./docs/terms.yaml#/paths/~1"

  /api/chefs:
    $ref: "./docs/chefs.yaml#/paths/~1"
  /api/chefs/verify:
    $ref: "./docs/chefs.yaml#/paths/~1verify"
  /api/chefs/login:
    $ref: "./docs/chefs.yaml#/paths/~1login"
  /api/chefs/logout:
    $ref: "./docs/chefs.yaml#/paths/~1logout"
  /api/chefs/oauth:
    $ref: "./docs/chefs.yaml#/paths/~1oauth"
  /api/chefs/passkey/create:
    $ref: "./docs/chefs.yaml#/paths/~1passkey~1create"
  /api/chefs/passkey/auth:
    $ref: "./docs/chefs.yaml#/paths/~1passkey~1auth"
  /api/chefs/passkey/verify:
    $ref: "./docs/chefs.yaml#/paths/~1passkey~1verify"
  /api/chefs/passkey:
    $ref: "./docs/chefs.yaml#/paths/~1passkey"

# Components to be shown on the main page
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: idToken

  schemas:
    recipes:
      $ref: "./docs/recipes.yaml#/components/schemas/recipes"
    recipe:
      $ref: "./docs/recipes.yaml#/components/schemas/recipe"
    recipePatch:
      $ref: "./docs/recipes.yaml#/components/schemas/recipePatch"
    token:
      type: object
      properties:
        token:
          type: string
          description: The ID token for the chef, if one was passed
    error:
      type: object
      properties:
        error:
          type: string
          description: The error message

    terms:
      $ref: "./docs/terms.yaml#/components/schemas/terms"

    userProfile:
      $ref: "./docs/chefs.yaml#/components/schemas/userProfile"
    credentials:
      $ref: "./docs/chefs.yaml#/components/schemas/credentials"
    userInfo:
      $ref: "./docs/chefs.yaml#/components/schemas/userInfo"
    changeRequest:
      $ref: "./docs/chefs.yaml#/components/schemas/changeRequest"
    email:
      $ref: "./docs/chefs.yaml#/components/schemas/email"
    idTokenCookie:
      $ref: "./docs/chefs.yaml#/components/schemas/idTokenCookie"
    idTokenClearCookie:
      $ref: "./docs/chefs.yaml#/components/schemas/idTokenClearCookie"
    providerId:
      $ref: "./docs/chefs.yaml#/components/schemas/providerId"
    authUrls:
      $ref: "./docs/chefs.yaml#/components/schemas/authUrls"
    oauthCredential:
      $ref: "./docs/chefs.yaml#/components/schemas/oauthCredential"
    passkeyCreationOptions:
      $ref: "./docs/chefs.yaml#/components/schemas/passkeyCreationOptions"
    passkeyRequestOptions:
      $ref: "./docs/chefs.yaml#/components/schemas/passkeyRequestOptions"
    passkeyClientResponse:
      $ref: "./docs/chefs.yaml#/components/schemas/passkeyClientResponse"
